<div class="container">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Editing Conference</div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
    <button type="button" class="btn btn-default">
      <%= link_to 'Show', @conference %>
    </button>
    <button type="button" class="btn btn-default">
      <%= link_to 'Back', conferences_path %>
    </button>
  </div>
</div>